.App {
  text-align: center;
}

.form {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 100px;
}
.form-title, .form-input, .form-btn {
  flex: 100%;
}

.form-title {
  font-size: 24px;
}


input[type=text] {
  width: 100%;
  padding: 8px 18px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  cursor: pointer;
}
input[type=text]:focus {
  background-color: lightblue;
}